@tailwind base;
@tailwind components;
@tailwind utilities;

h1{ 
  font-size: 56px;
  font-weight: 700;
  line-height: 2px;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5px;
}
h3{
  font-size: 32px;
  font-weight: 700;
  line-height: 1.15px;
}
h4{
  font-size: 28px;
  font-weight: 700;
  line-height: 2px;
}
h5{
  font-size: 24px;
  font-weight: 700;
  line-height: 1.7px;
}
h6{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3px;
}